#log-in {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: white;
  padding: 25px;
}

#log-in > h2 {
  font-family: "Copse", serif;
  font-size: 2em;
}

#log-in > label {
  font-family: "Sedgwick Ave", cursive;
  font-size: 0.9em;
  margin-top: 20px;
  padding: 0px 10px 15px 0px;
  letter-spacing: 2px;
}

#log-in > input {
  padding: 5px;
  border-radius: 7px;
  width: 300px;
}

#log-in > button {
  width: 70px;
  padding: 10px;
  margin: 20px 20px 20px 0px;
  border-radius: 10px;
  font-size: 0.9em;
  background-color: black;
  color: white;
  transition: background-color 0.4s;
  cursor: pointer;
}

#log-in > button:hover {
  background-color: white;
  color: black;
}

#show-pass {
  font-family: "Sedgwick Ave", cursive;
  margin-top: 15px;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
}

#show-pass > input {
  margin-right: 5px;
  padding: 5px;
  border-radius: 7px;
}

#check-box {
  margin-top: 10px;
}

#check-box > label {
  padding-left: 10px;
}
@media only screen and (min-width: 768px) {
  #log-in {
    margin: 100px 100px 320px 100px;
    padding: 50px;
    box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.4);
    width: 600px;
  }

  #log-in > input {
    width: 500px;
  }
}
